.content-section{
    .product-page{
        background-color: #fff;
        margin: 24px;
        padding:20px;
        font-family: $cairo;
        .product-page-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
    }
    .table-data{
        background-color: #fff;
        margin: 24px;
        padding:10px;
        direction: rtl !important;
        thead{
            background-color: #ff7700;
        }
        #example{
            font-size:14px !important;
            text-align: right !important;
            th{
                font-size:14px !important;
                text-align: right !important;
            }
        }
    }
}